build
build/*.
ext
ext/*.
include/Makefile.config
scripts/analysis/*.csv
scripts/analysis/*.log
scripts/analysis/*.pdf
scripts/job/base/*
src/generated-c
src/generated-c/*.
src/generated-cxx
src/generated-cxx/*.
tests/*
.setup
*.swp
*.INFO
*.ERROR
*.WARNING
*.FATAL
simulation.*
*~
.*project
