[project]
	description = The Firmament cluster scheduling framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group firmament-owners
	owner = group user/Malte Schwarzkopf (ms705)
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group firmament-owners
	read = group user/Malte Schwarzkopf (ms705)
	push = group Anonymous Users
	push = group firmament-owners
	push = group user/Malte Schwarzkopf (ms705)
	label-Code-Review = -2..+2 group firmament-owners
	label-Code-Review = -2..+2 group user/Malte Schwarzkopf (ms705)
	label-Code-Review = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group firmament-owners
	label-Verified = -1..+1 group user/Malte Schwarzkopf (ms705)
	rebase = group firmament-owners
	rebase = group user/Malte Schwarzkopf (ms705)
	removeReviewer = group firmament-owners
	removeReviewer = group user/Malte Schwarzkopf (ms705)
	submit = group firmament-owners
	submit = group user/Malte Schwarzkopf (ms705)
[access "refs/heads/*"]
	read = group firmament-owners
	read = group user/Malte Schwarzkopf (ms705)
	create = group firmament-owners
	create = group user/Malte Schwarzkopf (ms705)
	push = group firmament-owners
	push = +force group user/Malte Schwarzkopf (ms705)
	pushMerge = group firmament-owners
	pushMerge = group user/Malte Schwarzkopf (ms705)
[access "refs/tags/*"]
	push = group firmament-owners
	push = +force group user/Malte Schwarzkopf (ms705)
	pushTag = group firmament-owners
	pushTag = group user/Malte Schwarzkopf (ms705)
	pushSignedTag = group firmament-owners
	pushSignedTag = group user/Malte Schwarzkopf (ms705)
