[project]
	description = The Firmament cluster scheduling framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Malte Schwarzkopf (ms705)
[access "refs/for/refs/*"]
	read = group user/Malte Schwarzkopf (ms705)
	push = group user/Malte Schwarzkopf (ms705)
	label-Code-Review = -2..+2 group user/Malte Schwarzkopf (ms705)
	label-Verified = -1..+1 group user/Malte Schwarzkopf (ms705)
	rebase = group user/Malte Schwarzkopf (ms705)
	removeReviewer = group user/Malte Schwarzkopf (ms705)
	submit = group user/Malte Schwarzkopf (ms705)
[access "refs/heads/*"]
	read = group user/Malte Schwarzkopf (ms705)
	create = group user/Malte Schwarzkopf (ms705)
	push = +force group user/Malte Schwarzkopf (ms705)
	pushMerge = group user/Malte Schwarzkopf (ms705)
[access "refs/tags/*"]
	push = +force group user/Malte Schwarzkopf (ms705)
	pushTag = group user/Malte Schwarzkopf (ms705)
	pushSignedTag = group user/Malte Schwarzkopf (ms705)
